a {
	text-decoration: none;
}

body{
	padding-left: 2em;
}

nav{
	height: 10%;
	margin-left: 2em;
	width: 100%;
}
div .lista_clientes{
	display: inline-block;
}

h1{
	font-size: 24px;
}

.title{
	margin-left: 2em;
}

.boton{
	background: #aaaaff;
	padding: 5px 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	border-radius: 1em;
}

.botonTab{
	padding: .5px 5px;
	border-radius: 5px;
}

.close_session{
	background: #f8787e;
	padding: 5px 20px;


	border-radius: 1em;
}

.lista_clientes{
	height: 500px;
	margin: 4em 1em;
	
}

.name_list{
	background-color: #aaaaff; 
	text-align: center;
	font-weight: bold;
}
.table_result{
	border: 2px solid #000000;
	text-align: center;
}

#destino{
	z-index: 2;
}

.rows{
	border: 2px solid #000000;
	height: 10px;
}

#formAdd{
	background-color: #83c2a2;
	margin: .5em;
	padding: 1em 1em;
	border-radius: 1em;
	position: absolute;
	top: auto;
	left: auto;
}

.form{
	text-align: center;
	background-color: #83c2a2;
	border-radius: .5em;
	margin: .5em;
	padding: 5px;
	position: absolute;
}

footer{

}