a {
	text-decoration: none;
}

body{
	padding-left: 2em;
}

nav{
	height: 10%;
	margin-left: 2em;
	width: 100%;
}
div .lista_clientes{
	display: inline-block;
}

h1{
	font-size: 24px;
}

.title{
	margin-left: 2em;
}
.agregar{
	background: #aaaaff;
	float: left;
	padding: 5px 20px;
	margin-right: 5em;
	border-radius: 50px;
}
.close_session{
	background: #aaaaff;
	float: right;
	padding: 5px 20px;
	margin-right: 5em;
	border-radius: 50px;
}

.lista_clientes{
	height: 500px;
	padding-top: 2em;
	
}

.name_list{
	background-color: #aaaaff; 
	text-align: center;
	font-weight: bold;
}
.table_result{
	border: 2px solid #000000;
	text-align: center;
}


.rows{
	border: 2px solid #000000;
}

#formadd{
background-color: yellow;
padding: 1em;
margin: 1em;
}

footer{
	position:fixed;
	bottom:30%;
}