
/*Para no incluir a la hora de imprimir*/
.imprimir {
  display: none;
}


/*Estilos de impresion*/
html, body{
  padding: 10px, 20px;
    background: #f4f7f9;
  font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
}

.hoja{
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

.logo{
  margin-top: 5%;
}

.fecha{
  margin-top: 2%;
  text-align: center;
}

.imprimir{
  margin-left: 80%;
  margin-top: 5%;
}

.numero{
  margin-left: 60%;
  margin-top: 5%;
}

.encabezado{
  margin-top: 5%;
}

.table{
  margin-top: 5%;
}

.table-fill {
  background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

th {
  color:#D5DDE5;;
  background:#063288;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:15px;
  font-weight: 300;
  padding:10px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:12px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:12px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/*Campo de informacion de pago*/
.pago{
  margin-top: 10%;
}

/*Campo de informacion Firma*/

.firma{
  margin-top: 15%;
}

p{
  text-align: center;
}