html, body{
  padding: 10px, 20px;
  font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
}

.hoja{
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}

.logo{
  margin-top: 2%;
}

.fecha{
  margin-top: 5%;
  text-align: center;
}

.imprimir{
  margin-left: 80%;
  margin-top: -15%;
}

.numero{
  margin-left: 70%;
  margin-top: 5%;
}

.titulo{
  margin-top: 20%;
  text-align: center;
}

.parrafo{
  margin-top: 1.5em;
  text-align: justify;
}

.parrafo2{
  margin-left: 1em;
  margin-top: 1em;
  text-align: justify;
}

.encabezado{
  margin-top: 5%;
}

.table{
  margin-top: 5%;
}

.table_datos{
  margin-top: -130px;
  margin-left: 345px;
  width: 450px;
}

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 800px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.esp{
  font-size: 12px;
  font-weight: 400;
  height: 5px;
  padding: 0px;
  text-align: center;
  width: 200px;
}

.esp2{
  font-size: 12px;
  height: 5px;
  padding: 0px;
  text-align: center;
  width: 200px;
}


th {
  color: #FFF;
  background: #2f2f2f;
  border-bottom: 2px solid #FFF;
  border-right: 1px solid #000;
  font-weight: 500;
  font-size: 14px;
  padding: 1px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:12px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:8px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td, th {
  padding: 5px !important;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-big {
  font-size: 1.2em;
  color: black;
}

td.text-right {
  text-align: right;
}

/*Campo de informacion de pago*/
.pago{
  margin-top: 10%;
}

/*Campo de informacion Firma*/

.firma{
  margin-top: 15%;
}

p{
  text-align: center;
}

.botones{
  margin-left: 10%;
}

.btn-primary {
    outline: none;
    border: solid 1px #836e46;
    color: #fff;
    background-color: #836e46;
}

.btn-primary:hover {
  background-color: #000;
  border: solid 1px #000;
}
